.title {
  font-size: 12px;
  margin-bottom: 8px;
}

.errorEmpty {
  height: 20px;
}

.icon {
  margin-right: 11px;
}

.container {
  display: flex;
  width: 100%;
}

.dropzone {
  display: flex;
  width: 100%;
  cursor: pointer;
  justify-content: center;
  border: 1px dashed var(--grey40);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 12px;
}

.file {
  width: 100%;
}

.spinnerWrapper {
  margin-right: 10px;
}

.spinner {
  color: var(--orange100);
}

.fileName {
  font-size: 14px;
}