.icon {
  margin-right: 11px;
}

.container {
  display: flex;
  width: 100%;
}

.file {
  width: 100%;
}

.spinnerWrapper {
  margin-right: 10px;
}

.spinner {
  color: var(--orange100);
}

.fileName {
  font-size: 14px;
}