.listWrap {
  margin-bottom: 15px;
}

.wrap {
  flex: 1;
}

.filterPanel {
  margin-bottom: 15px;
}

.th {
  padding: 0;
  &:first-child {
    padding: 0 0 0 24px;
  }
  &:last-child {
    padding: 0;
  }
}

.td {
  padding: 0;
  &:first-child {
    padding: 10px 0 10px 24px;
  }
  &:last-child {
    padding: 0;
  }
}