.inputWrap {
  width: 600px;
  margin-top: 24px;
}

.wrap {
  flex: 1;
}

.btnClear {
  width: 170px;
}

.inputLabel {
  background-color: var(--white1);
  border: none;
}

.block {
  margin-bottom: 24px;
  margin-right: 21px;
}

.selectWrap {
  width: 290px;
}

.filters {
  flex-wrap: wrap;
}
