.mrb {
  margin-bottom: 20px;
}

.wrap {}

.body {
  padding: 24px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}

.btnCancel {
  margin-right: 20px;
}

.btns {
  margin-top: 20px;
}
