.mrb {
  margin-bottom: 10px;
}

.wrap {}

.body {
  padding: 16px 24px 24px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
}

.btnCancel {
  margin-right: 20px;
}

.btns {
  margin-top: 20px;
}

.cancellingBody {
  padding: 0;
}

.text {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px
}