:root {
  //--red: #E30613;
  //--pink: #fa555e;
  //--black: #000;
  //--black1: #242C37;
  //--black2: #3A4556;
  //--black3: #333e4d;
  //--black4: #5C6E89;
  //--black5: #495057;
  //--white: #fff;
  //--white1: #f9fafb;
  //--white3: #CFD1D5;
  //--white4: #e2e6ea;
  //--white5: #f2f2f2;
  //--white6: #F0F3F7;
  //--grey: #c7cbcf;
  //--grey1: #BCBBBA;
  //--grey2: #848584;
  //--grey3: #9A9A9A;
  //--orange: #F89406;
  //--orange100: #FF6C00;
  //--orange2: #FBDEC8;
  //--orange3: #FFF0E6;
  //--orange4: #FFA25E;
  //--orange5: #FF7E20;
  //--orange6: #FEF8F4;
  //--orange10: #F8F5F3;
  //--orange8: #fff0e5;
  //--blue: #2F96B4;
  //--blue1: #005EEA;
  //--violet: #3F108B;
  //--violet-light: #877BD2;
  //--green: #7CC61E;
  //--green1: #109C52;
  //--yellow: #F6D659;

  --black100: #242C37;

  --white100: #fff;

  --orange100: #FF6C00;
  --orange90: #FC7817;
  --orange40: #FBDEC8;
  --orange20: #FEEEE3;
  --orange15: #FEF8F4;
  --orange10: #F8F5F3;

  --grey100: #9A9A9A;
  --grey40: #BEC0C2;
  --grey30: #CFD1D5;
  --grey20: #F9FAFB;

  --yellow100: #F6D659;

  --green100: #109C52;

  --lilac100: #877BD2;

  --red100: #E30613;

  --violet100: #3F108B;

  --blue100: #005EEA;
}
