:root {
  --red: #e30613;
  --pink: #fa555e;
  --black: #000;
  --black1: #242C37;
  --black2: #3A4556;
  --black3: #333e4d;
  --black4: #5C6E89;
  --black5: #495057;
  --white: #fff;
  --white1: #f9fafb;
  --white3: #CFD1D5;
  --white4: #e2e6ea;
  --white5: #f2f2f2;
  --white6: #F0F3F7;
  --white7: #F9FAFB;
  --grey: #c7cbcf;
  --grey1: #BCBBBA;
  --grey2: #848584;
  --green: #7CC61E;
  --orange: #F89406;
  --orange1: #FBDEC8;
  --blue: #2F96B4;
}
