:root {
  --black100: #242C37;

  --white100: #fff;

  --orange100: #FF6C00;
  --orange95: #FF8A32;
  --orange90: #FC7817;
  --orange40: #FBDEC8;
  --orange25: #FFA25E;
  --orange20: #FEEEE3;
  --orange15: #FEF8F4;
  --orange10: #F8F5F3;

  --grey100: #9A9A9A;
  --grey50: #B1B1B1;
  --grey40: #BEC0C2;
  --grey30: #CFD1D5;
  --grey20: #F9FAFB;
  --grey15: #C8C5C4;
  --grey10: #C7CBCF;

  --yellow100: #F6D659;

  --green100: #109C52;

  --lilac100: #877BD2;

  --red100: #E30613;
  --red90: #FFF5F5;

  --violet100: #3F108B;

  --blue100: #005EEA;
}
