$item-width: 205px;

.mr {
    margin-right: 30px;
}

.card {
    max-width: calc(50% - 30px);
}

.line {
    margin-top: 10px;
}

.left {
    width: $item-width
}

.right {
    width: calc(100% - #{$item-width});
}

.cardTitle {
    font-weight: 600;
    font-size: 16px;
}

.table {
    margin-top: 30px;
}
