.item {
  position: relative;
  opacity: 0.5;
  padding-top: 10px;
  padding-bottom: 10px;
  &_active {
    opacity: 1;
  }
}

.itemMn {
  margin-right: 24px;
}

.itemBtn {
  font-size: 18px;
  font-weight: 600;
}
