.wrap {
    margin-bottom: 10px;
}

.title {
    font-weight: 600;
    font-size: 18px;
}

.replenishbtn {
    width: 152px;
    padding: 8px 0 !important;
}

.resultbtn {
    margin-left: 10px;
    width: 110px;
    padding: 8px 0 !important;
}