.description {
  font-weight: 600;
  margin-bottom: 5px;
}

.link {
  color: var(--orange100);
  &:visited, &:active, &:link {
    color: var(--orange100);
    text-decoration: none;
  }
}

.tooltip {
  color: var(--black100);
  padding: 15px 15px 28px 15px;
  max-width: 332px;
}
